.sign-in {
  color: #ffffff;
  padding: 20px;
  background-color: #04c;
  border: 1px solid rgb(88, 88, 226);
  border-radius: 3px;
}

.sign-out {
  color: #ffffff;
  padding: 20px;
  background-color: #d33a3a;
  border: 1px solid red;
  border-radius: 3px;
}
