<div style="text-align: center">
  <h3>Terms of service</h3>
  <hr>
</div>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis varius neque, sed bibendum urna rhoncus nec. Proin ac quam eu arcu facilisis gravida non vitae leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec sed ultrices dui. Sed nec tellus ex. Suspendisse eu est nunc. Vivamus imperdiet tempus nunc, in malesuada eros luctus dictum. Mauris ac neque augue. In a tortor varius, laoreet mi sed, viverra lacus. Vivamus eget eros elementum, fringilla sapien ut, finibus ante. Suspendisse faucibus posuere ante volutpat ultrices. Phasellus venenatis vulputate erat, aliquam porta magna ultricies in. Phasellus lorem risus, faucibus vel porttitor a, lobortis tristique dolor.
</p>
<p>
  Cras finibus urna nec orci ultricies rutrum. Aliquam dapibus eu diam id pulvinar. Sed sollicitudin felis felis, vitae tempus nisi pulvinar at. Etiam at pulvinar turpis, luctus pulvinar dolor. Curabitur dapibus sodales turpis sit amet bibendum. Suspendisse nec rutrum tortor. Praesent tristique in odio quis aliquet. Vivamus a massa nec nibh ultrices facilisis. Aenean dui nisi, suscipit ut libero consequat, faucibus rhoncus augue. Vivamus eget dolor vitae lorem semper imperdiet. Quisque posuere, est a elementum facilisis, ex nisl hendrerit libero, in aliquet enim dui at arcu. Proin convallis volutpat sapien nec aliquet. Ut laoreet ornare vehicula. Nam pulvinar porttitor diam, in dapibus neque porttitor ut.
</p>
<p>
  Fusce nec tellus semper ipsum pellentesque porta. Curabitur in accumsan purus. Pellentesque dictum at ligula nec finibus. Phasellus porttitor orci mauris, in convallis diam interdum sit amet. Ut aliquet tellus vitae accumsan finibus. Nulla non tempus augue. Ut porttitor tortor a purus mattis, in egestas eros pellentesque. Donec placerat maximus velit, at imperdiet dui pharetra lacinia. Nunc ut diam et risus rhoncus tincidunt in id massa. Maecenas varius egestas dui id pretium. Curabitur leo neque, malesuada vitae nulla vel, lobortis gravida quam. Cras auctor dui at ipsum scelerisque rutrum. Ut arcu augue, sollicitudin id dictum posuere, pharetra sed nisi.
</p>
<p>
  Sed lobortis ac lacus id tincidunt. Aenean non ante vestibulum odio ornare tempor. Duis dapibus aliquet nulla id tincidunt. Aenean malesuada gravida arcu, eu feugiat ligula malesuada eu. Duis dapibus dapibus lacus. Vestibulum pulvinar ante at augue imperdiet efficitur. Sed imperdiet ex nec mollis accumsan.
</p>
<p>
  Vestibulum vehicula nulla eu lorem tincidunt luctus. Etiam vulputate sit amet leo vitae ultrices. Maecenas vitae ultrices libero. Sed rutrum condimentum orci, dapibus consectetur sapien varius sed. Phasellus metus ipsum, tincidunt ut turpis vel, iaculis mollis lorem. Etiam et dui nec leo vestibulum dictum sed ut metus. Nunc dictum ex fringilla urna ultricies, ac aliquam eros viverra. Nulla a turpis tellus. Pellentesque sit amet quam vitae nisi ultricies vehicula. Maecenas dolor odio, fringilla quis rutrum nec, feugiat id nunc. Nunc vitae nisl at libero sollicitudin pulvinar nec eu quam. Duis pellentesque sodales tortor, quis ultrices lacus feugiat in. Praesent malesuada elit eget sollicitudin finibus.
</p>
<p>
  Donec venenatis nunc non est luctus, id bibendum velit luctus. Integer diam enim, viverra ac mi eu, sagittis semper lectus. Praesent quis elementum lacus. Donec eu semper neque. Aliquam congue pharetra lorem, eu accumsan massa convallis at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer urna leo, mattis eu metus at, sollicitudin luctus mauris. Nulla efficitur lorem in mi vehicula euismod. Donec sed scelerisque eros. Vestibulum dictum massa eu ante imperdiet congue. Praesent nec est eros. Praesent viverra aliquet ante vel laoreet. Cras urna metus, auctor sed felis at, rutrum feugiat ipsum. Phasellus mollis sodales tellus faucibus mattis.
</p>
<br><br>
<br><br>
<a routerLink="/privacy-policy">&larr;Privacy Policy</a>
