<div style="text-align: center">
  <h3>Privacy Policy</h3>
  <hr>
</div>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet eleifend lacus, sed convallis eros. Nullam molestie eleifend leo, quis tincidunt nisl hendrerit vulputate. Pellentesque molestie eros urna, id dignissim justo vestibulum ac. Proin egestas pretium venenatis. In faucibus dui sed dictum dapibus. Curabitur feugiat enim non viverra blandit. Etiam ornare iaculis augue quis imperdiet. Donec vulputate elementum odio et dignissim. Pellentesque volutpat erat non pellentesque luctus.
</p>
<p>
  Quisque vel ligula sit amet lacus accumsan facilisis et sed nisl. Cras quis elit ut arcu aliquet dictum. Quisque convallis maximus mauris non pellentesque. Aliquam porta eleifend sodales. Duis placerat ex nulla, sed tristique risus tristique sed. Suspendisse placerat auctor felis, at elementum tellus consectetur eget. Proin lacinia quam ex. Vestibulum semper lacus ut volutpat molestie. Donec rhoncus tellus eu bibendum blandit. Praesent feugiat, diam vitae ultricies facilisis, elit sapien iaculis nibh, sagittis sagittis magna odio eu nibh. Aliquam sollicitudin, ante quis bibendum imperdiet, tellus felis convallis ipsum, nec pharetra justo sem nec est.
</p>
<p>
  Vivamus sit amet pulvinar tellus, a fermentum justo. Morbi at vestibulum ex. Etiam dapibus arcu orci, at gravida odio facilisis non. Proin ullamcorper lorem non nibh sodales, eget gravida lectus dignissim. Phasellus id metus ac mi mattis vestibulum non vel ipsum. Aenean vitae ultrices odio. Mauris at est aliquam sem dignissim cursus nec a nunc. Pellentesque porta id dolor a dignissim. Etiam at arcu ligula. Suspendisse ultrices mi in magna efficitur ultricies. Proin vel luctus eros. Aliquam quis semper urna. Curabitur dictum ut quam sit amet maximus.
</p>
<p>
  Curabitur nec mollis enim. Vivamus ullamcorper, ante nec pretium egestas, elit tortor iaculis turpis, eu rhoncus ipsum arcu at tellus. Nullam eu pulvinar elit, quis tincidunt lacus. Nullam consequat iaculis ex, non cursus felis facilisis id. Nullam placerat, turpis molestie tincidunt aliquet, ante mauris aliquam sem, vel dapibus dolor nisl eu augue. Cras aliquam felis sit amet rhoncus consectetur. Suspendisse laoreet felis vel hendrerit rhoncus. Nam purus quam, sollicitudin sit amet magna vitae, facilisis cursus erat. Mauris id diam quis turpis iaculis porttitor sit amet vel ante.
</p>
<p>
  Donec commodo felis quam, non auctor quam aliquam ac. Ut at sem lorem. Ut ut tincidunt sapien. Mauris fermentum nec purus a sollicitudin. Aenean quis euismod nulla. Nullam facilisis vulputate risus eget tristique. Donec nec enim accumsan, pretium nunc sed, tempus purus. Maecenas eget eros in tellus porta auctor sed at massa. Etiam aliquam magna mi. Nulla in tincidunt libero, et elementum enim. Vestibulum semper nisl in nisl sodales tincidunt. Quisque lobortis, ipsum at suscipit cursus, sem metus laoreet dui, maximus posuere erat quam eu orci. Pellentesque dapibus urna ut ex malesuada vulputate. Ut aliquam dolor at est ornare, in blandit ipsum sodales
</p>

<br><br>
<br><br>
<a routerLink="/dashboard">&larr;Back</a>
<a routerLink="/terms-of-service" style="float: right">Terms of service&rarr;</a>
